@font-face {
  font-family: 'UniversLTStd-UltraCn';
  src: url('UniversLTStd-UltraCn.eot');
  src: url('UniversLTStd-UltraCn.woff2') format('woff2'),
       url('UniversLTStd-UltraCn.woff') format('woff'),
       url('UniversLTStd-UltraCn.ttf') format('truetype'),
       url('UniversLTStd-UltraCn.svg#UniversLTStd-UltraCn') format('svg'),
       url('UniversLTStd-UltraCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

